body{
  background-color: darkcyan;
  color: cornsilk;
}
h1{
  background-color: aquamarine;
  color: azure;
}
h2{
  background-color: bisque;
  color: brown;
}
h1,h2{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}